body {
  background-color: #000000;
  margin: 0;
}

#container {
  position: absolute;
}

canvas {
  position: absolute;
}

#gridCanvas {
  z-index: 1; /* Sets gridCanvas behind gameCanvas */
}

#gameCanvas {
  z-index: 2;
}
